<section class="Prod">
        <article>
            <header>
                
                <h1>Revisa Nuestros Productos</h1>
            </header>
            <p>En artes escénicas se emplea para caracterizar a los actores como el personaje que representarán, así como para corregir las distorsiones producidas por la iluminación.</p></p>   
            <button>INVENTARIO</button>
        </article> 
        <ul>
            
            <li><img src="https://res.cloudinary.com/glovoapp/w_351,h_179,f_auto,q_auto/Stores/qxu4ia5jdydqfzwtyxcb" alt="">
                <p id="articulo">{{getArt prod}}</p> 
                <p id="precio">${{ prec1}}</p>
                </li>
            <li><img src="http://www.cutypaste.com/wp-content/uploads/2015/04/7c0e116ec64093ef8daf2e5456357df3.jpg" alt="">
                <p id="articulo">{{getArt prod2}}</p>
                <p id="precio">$ {{ prec2}}</p>
                </li>
            <li><img src="https://ae01.alicdn.com/kf/H1ed0ed2820b14185939563c2ab0d4a76v/Kit-de-maquillaje-profesional-completo-todo-en-uno-para-ni-a-conjunto-de-maquillaje-para-principiantes.jpg_q50.jpg" alt="">
                <p id="articulo">{{getArt prod3}}</p>
                <p id="precio">${{ prec3}} </p>
                </li>
        </ul>
       
    </section>